In [18]:
# Importing libraries
import pandas as pd

In [19]:
# Loading the dataset
data = pd.read_csv("C:/Users/Anshika/OneDrive/Desktop/AB_NYC_2019.csv")

# Displaying to verify
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [20]:
# Handling the missing values columns
data['name'].fillna('NA', inplace=True)
data['host_name'].fillna('NA', inplace=True)
data['last_review'].fillna('1970-01-01', inplace=True)
data['reviews_per_month'].fillna(0, inplace=True)

# Displaying to verify 
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1970-01-01,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [21]:
# Removing duplicate rows 
data.drop_duplicates(inplace=True)

# Displaying the number of rows to verify 
data.shape

(48895, 16)

In [22]:
# Standardizing 'name' and 'host_name' to have consistent capitalization
data['name'] = data['name'].str.title()
data['host_name'] = data['host_name'].str.title()

# Converting 'last_review' to datetime format
data['last_review'] = pd.to_datetime(data['last_review'])
 
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,1970-01-01,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,Lisaroxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
# Removing listings with price above the 99th percentile
price_threshold = data['price'].quantile(0.99)
data = data[data['price'] < price_threshold]

data.shape

(48403, 16)

In [24]:
# Ensuring 'latitude' and 'longitude' are within valid ranges
data = data[(data['latitude'].between(-90, 90)) & (data['longitude'].between(-180, 180))]

# Ensuring 'price' and 'minimum nights' have reasonable values
data = data[(data['price'] > 0) & (data['minimum_nights'] > 0)]

data.shape

(48392, 16)

In [26]:
# Saveing the cleaned data
cleaned_data = "C:/Users/Anshika/OneDrive/Desktop/AB_NYC_2019_cleaned.csv"
data.to_csv(cleaned_data, index=False)

# Displaying the path of the cleaned file
cleaned_data

'C:/Users/Anshika/OneDrive/Desktop/AB_NYC_2019_cleaned.csv'